body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    font-family: sans-serif;
    font-size: 12px;
    color: #666666;
    overflow: hidden;
}

text {
    font-family: sans-serif;
    fill: #999999;
}

text.label {
    fill: #000000;
}

text.label.marker {
    font-weight: bold;
}

polyline {
    fill: none;
    stroke-width: 5;
}

line.tickLine {
    stroke: #999999;
}